#btn1{
    margin-left: -0.2em;
}
#yellowbtn{
    background-color: goldenrod;
    border: none;
    font-weight: bold;
    padding: 1em;
    width: 100%;
}

#redbtn{
    background-color: brown;
    color: white;
    border: none;
    border: 1px solid brown;
    font-weight: bold; 
    padding: 1em;
    width: 100%;
}
#ashbtn{
    background-color: grey;
    color: white;
    border: none;
    font-weight: bold; 
    padding: 1em;
    width: 100%; 
}
#greenbtn{
    background-color: green;
    color: white;
    border: none;
    font-weight: bold; 
    padding: 1em;
    width: 100%; 
}
#tab{
    color: navy;
    margin: auto;
    border: 1px solid navy;
    border-collapse: separate;
    width: 60%;
}
@media screen and (max-width:900px) {
    #tab{
        max-width: 90% !important;
        font-size: small !important;
    }
}
#thd{
    border: 1px solid navy;
    border-collapse: separate;
}
#tee{
    border: 1px solid navy;
    border-collapse: separate;
    color: blue;
    padding: 0.3em;
}
td{
    text-transform: capitalize;
}

